---
layout: default
title: 'Document Services API Use Case: Digital Content Publishing'
meta:
active: digital-content-publishing
---

{% include paths.html %}

<div class="main secondary-page">

	<section id="api-use-cases-blade">
		<div class="api-use-cases-container">
			<div class="api-use-cases-wrapper">
				<div class="intro-copy-wrapper">
					<h1>Document Services API Use Cases</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="api-use-cases-body">
		<div class="api-use-cases-content-container">
			<div class="api-use-cases-content-wrapper">
				<div class="api-use-cases-content-menu">
					{% include use-case-nav.html %}
				</div>
				<div class="api-cases-content-wrapper">
					<div class="api-cases-content">

						<h2>Digital Content Publishing</h2>

						<h3>Overview</h3>
						<p>There are more than 2.5 trillion PDFs on the Internet, and one of the main reasons is that
							the format makes it extremely easy to publish well-designed content on the web and secure it. There is no
							need to redesign documents using HTML and CSS and lose granularity. With Adobe Document
							Services, it is now even easier to embed PDF documents inside of web pages, as well as
							understand exactly how users are consuming documents. Advanced features not found in
							traditional PDF desktop or web viewers let you:</p>
						<ul>
							<li>Add interactivity to PDF-based experiences</li>
							<li>Provide PDF content for the rest of the brand experience on a website, including
								navigation, headers, and more</li>
							<li>Support multiple user annotations (using the Adobe Annotations API)</li>
							<li>Enable analytics integration to see how PDFs are viewed, including how long users spend
								on pages</li>
							<li>Include security and other controls to prevent editing, downloading, annotating, or printing</li>
						</ul>

						<h3>Relevant APIs</h3>
						<ul>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/pdf-embed.html">Adobe PDF Embed API</a>
							</li>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/pdf-services.html">Adobe PDF Services
									API</a></li>
						</ul>
						<h3>Scenario</h3>
						<p>A company plans to offer whitepapers on its website to help customers use various apps and
							services. Marketing needs to understand how users interact with the content, and they want
							to incorporate it into the rest of the web pages. Since some of the documents may be
							restricted or behind a paywall, the company also wants to secure the documents with a password to prevent editing and control who can download
							particular PDFs.</p>

						<h3>Building this Solution</h3>
						<ol>
							<li>Get credentials for PDF Embed API and PDF Services APIs</li>
							<li>Use PDF Services API to secure the whitepaper with a password using the protect PDF operation</li>
							<li>Access the Embed API demo to generate sample code</li>
							<li>Change flags to allow / disallow printing, downloading, and other user actions</li>
							<li>Enable events so that the viewer can be extended</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include use-case-help.html %}

</div>