---
layout: default
title: Employee Offer Letters
meta:
active: employee-offer-letters
---

{% include paths.html %}

<div class="main secondary-page">

	<section id="api-use-cases-blade">
		<div class="api-use-cases-container">
			<div class="api-use-cases-wrapper">
				<div class="intro-copy-wrapper">
					<h1>Document Services API Use Cases</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="api-use-cases-body">
		<div class="api-use-cases-content-container">
			<div class="api-use-cases-content-wrapper">
				<div class="api-use-cases-content-menu">
					{% include use-case-nav.html %}
				</div>
				<div class="api-cases-content-wrapper">
					<div class="api-cases-content">

						<h2>Employee Offer Letters</h2>
						<p>Employee offer letters are one of the first experiences new hires have with an organization, so these documents should be on-brand, professional, and uniform. However, creating documents in Microsoft Word from scratch wastes valuable resources and results in inconsistent experiences. Adobe Document Services helps streamline the process of generating and delivering offer letters in a variety of ways, letting you:</p>
						<ul>
						<li>Create templates in Word and generate PDFs based on a simple data set using the Adobe Document Generation API</li>
						<li>Merge data and HTML templates into a PDF letter using the Adobe PDF Services API</li>
						<li>Route offer letters to candidates and hiring managers, track consumption in real-time, verify user identities, and capture electronic signatures by leveraging <a target="_blank" href="https://acrobat.adobe.com/us/en/sign.html">Adobe Sign</a></li>
						</ul>

						<h3>Relevant APIs</h3>
						<ul>
							<li>Adobe PDF Services API</li>
							<li>Adobe Sign API</li>
							<li>Adobe Document Generation API</li>
						</ul>

						<h3>Scenario</h3>
						<p>An organization needs to ramp up seasonal hiring of employees across multiple locations. Candidates use an online application that captures their information. Later, this data is used to populate an offer letter that includes the ability to sign the document electronically.</p>

						<h3>Building this Solution</h3>
						<ol>
							<li>Build a JSON-based data model of values to be incorporated into the offer letter documents</li>
							<li>Create an offer letter template using Word or HTML</li>
							<li>Use Adobe Document Generation Tagger in the <a target="_blank" href="https://appsource.microsoft.com/en-us/product/office/WA104380526?tab=Overview">Microsoft Word Add-in </a>to tag text fields in the template based on the data model</li>
							<li>Generate the offer letter PDF using Adobe Document Generation API</li>
							<li>Upload the document to Adobe Sign and send Offer Letter as an agreement using <a target="_blank" href="https://acrobat.adobe.com/us/en/sign.html">Adobe Sign</a> or <a target="_blank" href="https://www.adobe.io/apis/documentcloud/sign/docs.html">Adobe Sign API</a></li>
						</ol>

						<h3>Building in Power Automate</h3>
						<ul>
							<li>Adobe PDF Services Connector (includes Document Generation)</li>
							<li>Adobe Sign Connector</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>

	{% include use-case-help.html %}

</div>