---
layout: default
title: 'Document Services API Use Case: Data Analysis for Finance'
meta:
active: field-service-management
---

{% include paths.html %}

<div class="main secondary-page">

	<section id="api-use-cases-blade">
		<div class="api-use-cases-container">
			<div class="api-use-cases-wrapper">
				<div class="intro-copy-wrapper">
					<h1>Document Services API Use Cases</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="api-use-cases-body">
		<div class="api-use-cases-content-container">
			<div class="api-use-cases-content-wrapper">
				<div class="api-use-cases-content-menu">
					{% include use-case-nav.html %}
				</div>
				<div class="api-cases-content-wrapper">
					<div class="api-cases-content">

						<h2>Field Service Management</h2>

						<h3>Overview</h3>
						<p>Many organizations perform services onsite at field locations involving installations, safety certifications, assessments, inspections, job orders, and more. Organizations benefit from streamlined digital document workflows to collect data, send for signature, create records, and archive for audit purposes. Customizing document workflows within different systems and applications can be challenging.</p>
						<p>Adobe Document Services allows companies to:</p>
						<ul>
							<li>Integrate customized document processing with existing applications using APIs</li>
							<li>Automate approval and signature workflows to reduce processing errors</li>
							<li>Create dynamic data-driven documents with Microsoft Word templates</li>
							<li>Archive and secure documents of record for auditing</li>
						</ul>

						<h3>Relevant APIs</h3>
						<ul>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/pdf-embed.html">Adobe PDF Embed API</a></li>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/pdf-services.html">Adobe PDF Services API</a></li>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/pdf-extract.html">Adobe PDF Extract API</a></li>
						</ul>

						<h3>Scenario</h3>
						<p>A company needs to automate the creation and management of daily shift reports from multiple field locations. Shift reports follow a standard template, but some are completed manually and scanned while others are made dynamically using data from databases onsite. Daily reports from each location must be combined into a single report, approved with signature by the field manager, protected with a password, then stored as documents of record for audit purposes.</p>

						<h3>Building this Solution</h3>
						<p>In this solution, shift reports in the field are scanned using Adobe Scan or generated in PDF format dynamically. Then they are combined with other reports, sent for approval with signature, password protected, and archived. </p>
						<ol>
							<li>A shift report is either scanned using Adobe Scan or generated dynamically using templates with form data and Adobe Document Generation API</li>
							<li>PDF Services API OCR service is used to make scanned PDFs readable and searchable</li>
							<li>PDF Services API Combine PDF service merges multiple PDFs</li>
							<li>Adobe Sign API sends the final PDF for approval</li>
							<li>PDF Services API Protect service is used to add a password to the PDF before the document is archived</li>
							<li>Render the archived document in the application with Adobe PDF Embed API</li>
						</ol>

					</div>
				</div>
			</div>
		</div>
	</section>

	{% include use-case-help.html %}

</div>
