---
layout: default
title: DC Platform Tools SDK
meta:
active: tools-sdk
redirect_from:
  - /apis/documentcloud/dcsdk/pdf-services-sdk.html
  - /apis/documentcloud/Services.html
---
{% include paths.html %}
<div class="main secondary-page">

  <div class="gradient">
    <section class="header">
      <h1>Use our PDF Tools API for creating, combining,<br>exporting PDFs and more</h1>
      <h2>REST API with SDKs for popular languages such as Node.js, Java, and .NET
        <span class="xl-only"><a title="Contact Us" alt="Contact Us" id="contact_us" href="https://www.adobe.com/go/pdftoolsapi_requestform" target="_blank" class="button-link">Contact Us</a></span>
      </h2>
      <span class="mobile-only"><a title="Contact Us" alt="Contact Us" id="contact_us" href="https://www.adobe.com/go/pdftoolsapi_requestform" class="button-link">Contact Us</a></span>
    </section>

    <section class="home-card card-slider-container">
      <div class="card blanche">
        <div class="card-icon"><img src="{{ baseurl }}/gh-assets/svg/create_secure_support.svg" alt="Converting a word document into a secure pdf"></div>
        <h2>Create, secure, and export PDF documents</h2>
        <p>Create a PDF from Microsoft Office documents, protect the content, and export to other formats</p>
      </div>

      <div class="card blanche">
        <div class="card-icon"><img src="{{ baseurl }}/gh-assets/svg/modify_pages.svg" alt="PDF APIs converting and optimizing pdfs"></div>
        <h2>Modify PDFs and optimize output</h2>
        <p>Programmatically alter a document, such as reordering, inserting, and rotating pages, as well as compressing the file</p>
      </div>

      <div class="card blanche">
        <div class="card-icon"><img src="{{ baseurl }}/gh-assets/svg/cloud_services.svg" alt="Cloud-based API"></div>
        <h2>Leverage Adobe's cloud-based services</h2>
        <p>Access the same cloud-based APIs that power Adobe's end user applications to quickly deliver scalable, 
          <a href="https://www.adobe.com/content/dam/cc/en/security/pdfs/AdobeDocumentServices_SecurityOverview.pdf" target="_blank" class="section-links">secure</a> solutions</p>
      </div>
    </section>
  </div>

  <section class="platform market-slider-container">
    <!-- AWS Marketplace (Jan 2021) -->
    <section class="market-place">
      <div class="market-place-container">
        <div class="market-place-wrapper">

          <div class="market-place-logo-wrapper">
              <div class="mp-adobe-logo"><img src="{{ baseurl }}/gh-assets/img/adobe_logo_partnership@2x.png" alt="Adobe logo partnership banner"></div>
              <div class="mp-plus">+</div>
              <div class="mp-logo"><img src="{{ baseurl }}/gh-assets/svg/awsmplogo_white.svg" alt="AWS Marketplace logo"/></div>
          </div>

          <div class="mp-copy-wrapper">
            <h4>AWS Marketplace Partnership</h4>
            <div class="mp-copy">We now offer all of our PDF Tools APIs for purchase as a subscription in AWS console</div>
            <div class="mp-cta-wrapper">
              <a href="https://www.adobe.com/go/pdfToolsAPI_Pricing#AWS" target="_blank" class="button-link">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  

    <!-- Microsoft power (Dec 2020) -->
    <section class="market-place ms-blade">
      <div class="market-place-container">
        <div class="market-place-wrapper">
          <div class="market-place-logo-wrapper">
              <div class="mp-adobe-logo"><img src="{{ baseurl }}/gh-assets/img/adobe_logo_partnership@2x.png" alt="Adobe logo partnership banner"></div>
              <div class="mp-plus">+</div>
              <div class="mp-logo ms-power-logo"><img src="{{ baseurl }}/gh-assets/svg/ms_power_logo.svg" alt="Microsoft Power Platform logo"/></div>
          </div>

          <div class="mp-copy-wrapper">
            <h4>Microsoft Power Automate Integration</h4>
            <div class="mp-copy">Quickly automate document processes without writing any code using the new Adobe PDF Tools Connector.</div>
            <div class="mp-cta-wrapper">
              <a href="http://www.adobe.com/go/powerautomate_help" target="_blank" class="button-link">
                Learn more
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>
  </section>

  <!-- work-flow-->
  <section class="dctsdk-work-flow">
    <h3>Key Features of Adobe PDF Tools API</h3>
    <div class="work-flow-container">
      <div class="work-flow_menu">
        <ul>
          <!-- Create -->
          <li  id="create" class="dctsdk active">
            <div class="work-flow-menu-item open">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk create" title="Create PDF from Word doc"></div>
                <div class="work-flow-menu-copy">Create</div>
              </div>
            </div>
            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile open">
              <h4>Create a PDF File</h4>
              <p class="work-flow-menu-support-copy">Create PDFs from a variety of formats, including static and dynamic HTML; Microsoft Word, PowerPoint, and Excel; as well as text, image, and, Zip </p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-createPDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Export -->
          <li id="export" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk export" title="Export"></div>
                <div class="work-flow-menu-copy">Export</div>
              </div>
            </div>
            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Export</h4>
              <p class="work-flow-menu-support-copy">Convert existing PDFs to popular formats, such as Microsoft Word, Excel, and PowerPoint, as well as text and image</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-exportPDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- OCR / Recognize -->
          <li id="ocr" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk recognize" title="Recognize Text"></div>
                <div class="work-flow-menu-copy">OCR</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>OCR</h4>
              <p class="work-flow-menu-support-copy">
                Use built-in optical character recognition (OCR) to convert images to text and enable document searching</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-ocr" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Protect -->
          <li id="protect" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk protect" title="Protect PDF"></div>
                <div class="work-flow-menu-copy">Protect</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Protect</h4>
              <p class="work-flow-menu-support-copy">Protect a PDF file with password(s) for encrypting the PDF document and setting the restriction on certain features like printing, editing and copying in the PDF document.</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-protectPDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Unlock *new Q420 * -->
          <li id="unlock" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk unlock" title="Unlock PDF"></div>
                <div class="work-flow-menu-copy">Remove Password</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Remove Password</h4>
              <p class="work-flow-menu-support-copy">Remove password security from a PDF document. This can only be accomplished using the owner password of the document which must be passed in the operation.</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-removeProtection" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Split *new Q420* -->
          <li id="split" class="dctsdk">
            <div class="work-flow-menu-item">
             <div class="chev-arrow-right"></div>
             <div class="shadow-box dctsdk">
               <div class="work-flow-icon icon-align dctsdk split" title="Split"></div>
               <div class="work-flow-menu-copy">Split</div>
              </div>
            </div>
          
          <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Split</h4>
              <p class="work-flow-menu-support-copy">Split a PDF document into multiple smaller documents by simply specifying either the number of files, pages per file, or page ranges.</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-splitPDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>          

          <!-- Combine *new Q320 -->
          <li id="combine" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk combine" title="Combine"></div>
                <div class="work-flow-menu-copy">Combine</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Combine</h4>
              <p class="work-flow-menu-support-copy">Combine two or more documents into a single PDF</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-combinePDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>

            </div>
          </li>

          <!-- Compress *new* -->
          <li id="compress" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk compress" title="Compress"></div>
                <div class="work-flow-menu-copy">Compress</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Compress</h4>
              <p class="work-flow-menu-support-copy">Reduce the size of PDFs while determining the quality of images and graphics </p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-compressPDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Reorder -->
          <li id="reorder" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk reorder" title="Reorder Pages"></div>
                <div class="work-flow-menu-copy">Reorder</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Reorder</h4>
              <p class="work-flow-menu-support-copy">Reorder the pages of an existing document</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-combinePDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank"  class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Linearize -->
          <li id="linearize" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk linearize" title="Linearize PDF"></div>
                <div class="work-flow-menu-copy">Linearize</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Linearize</h4>
              <p class="work-flow-menu-support-copy">Optimize PDFs for quick viewing on the web, especially for mobile clients</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-linearizePDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank"  class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Insert -->
          <li id="insert" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk insert" title="Insert"></div>
                <div class="work-flow-menu-copy">Insert</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Insert</h4>
              <p class="work-flow-menu-support-copy">Insert one or more pages into an existing document</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-combinePDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank"  class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Replace -->
          <li id="replace" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk replace" title="Replace"></div>
                <div class="work-flow-menu-copy">Replace</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Replace</h4>
              <p class="work-flow-menu-support-copy">Replace one or more pages with another page</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-combinePDF" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank"  class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Delete -->
          <li id="delete" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk delete" title="Delete"></div>
                <div class="work-flow-menu-copy">Delete</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Delete</h4>
              <p class="work-flow-menu-support-copy">Delete one or more pages from a document</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-pageManipulation" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank"  class="button-link">See Documentation</a>
            </div>
          </li>

          <!-- Rotate -->
          <li id="rotate" class="dctsdk">
            <div class="work-flow-menu-item">
              <div class="chev-arrow-right"></div>
              <div class="shadow-box dctsdk">
                <div class="work-flow-icon icon-align dctsdk rotate" title="Rotate"></div>
                <div class="work-flow-menu-copy">Rotate</div>
              </div>
            </div>

            <!-- Shared with code area -->
            <div class="work-flow-menu-support work-flow-support-mode-mobile">
              <h4>Rotate</h4>
              <p class="work-flow-menu-support-copy">Rotate a page in an existing document</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-pageManipulation" target="_blank">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank"  class="button-link">See Documentation</a>
            </div>
          </li>

        </ul>
      </div>

      <div class="work-flow_code">
        <div id="sdk-support" class="menu-item-info-content">
            <div class="work-flow-menu-support">
              <h4>Create a PDF File</h4>
              <p class="work-flow-menu-support-copy">Create PDFs from a variety of formats, including static and dynamic HTML; Microsoft Word, PowerPoint, and Excel; as well as text, image, and, Zip</p>
              <p>See our public <a href="https://www.adobe.com/go/dcsdk_APIdocs#post-createPDF">API Reference</a> and quickly try our APIs using the Postman collections</p>
              <a href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See Documentation</a>
            </div>
            <div class="code-viewer-wrapper">
                <!-- Code Viewer -->
                {% include code-sample.html %}
                <!-- /Code Viewer -->
            </div>

        </div>

      </div>

    </div>

  </section>
  <!-- work-flow end -->



  <!-- pdf extract -->
  <section class='grey-bar-extract'>
    <div class="extract-container">
      <h3>Adobe PDF Extract API</h3>
      <div class="extract-copy">
        <p>A new web service that allows you to unlock content structure and table data from any PDF document with machine learning</p>
        <p><a href="https://www.adobe.com/go/pdfextractapi_requestform" target="_blank" class="spectrum-Button spectrum-Button--cta">Request Access</a></p>
      </div>
      <div class="extract-img"></div>
      <div class="extract-copy-lst">
        <ul>
          <li>
            <div>Leverage Adobe Sensei for a rich understanding of <span>content structure</span> with higher quality input to other systems</div>
          </li>
          <li>
            <div><span>Easily Extract content to JSON</span> format for further processing into other applications or databases</div>
          </li>
          <li>
            <div><span>Identify more document elements</span> than OCR with extraction of headings, paragraphs, lists, and more</div>
          </li>
        </ul>
      </div>
  </section>
  <!-- pdf extract end-->


  <!-- Get Started start -->
  <section class="grey-bar switch-white get-started">

    <h3>Get Started in Minutes</h3>

    <ol>
      <li>
        <div>
          <p>
            Obtain credentials
          </p>
          <p>
            <a title="Get started" alt="Get started" href="https://www.adobe.com/go/dcsdks_credentials" target="_balnk" class="spectrum-Button spectrum-Button--cta">Get started</a>
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            Download ready to run samples for Node.js, Java, and .NET
          </p>
          <p class="gs-callout-item">
            <a title="Node.js" alt="Node.js" href="https://github.com/adobe/pdftools-node-sdk-samples" target="_blank" class="button-link step2">Node.js</a>
            <a title="Java" alt="Java" href="https://github.com/adobe/pdftools-java-sdk-samples" target="_blank" class="button-link step2">Java</a>
            <a title=".Net" alt=".Net" href="https://github.com/adobe/PDFTools.NET.SDK.Samples" target="_blank" class="button-link  step2">.Net</a>
          </p>
        </div>
      <li>
        <div>
          <p>
            Add credentials to your code and run!<br>
            <a href="https://www.adobe.com/go/dcsdk_APIdocs" alt="API Reference" target="_blank">API Reference</a>
          </p>
          <p>
            <a title="See documentation" alt="See documentation" href="https://www.adobe.com/go/pdftoolsapi_doc" target="_blank" class="button-link">See documentation</a>
          </p>
        </div>
      </li>
    </ol>

  </section>
  <!-- Get Started end -->

  <!-- use case -->
  <section class="grey-bar no-max-width">
    <div class=" use-case" >
      <h3>Use Cases for PDF Tools API</h3>
      <div>
        <br> <a href="{{ baseurl }}/apis/documentcloud/dcsdk/sales-proposals-and-contracts.html" target="_blank" class="spectrum-Button spectrum-Button--cta">See all use cases</a>
      </div>
      <div style="clear: both;">        
      </div>
      <div>
        <h4>Document Management</h4>
        <h5>Programmatically manage document workflows through high performance, cloud-based APIs:</h5>
        <ul>
          <li>Create PDF documents from dynamic or static html content, such as web forms, charts</li>
          <li>Secure PDF documents in the embedded PDF viewer and disable printing, downloading, and document manipulation</li>
        </ul>
        <h5>Common use cases: Manufacturing operations, government workflows</h5>
      </div>

      <div>
        <h4>Business Process Automation</h4>
        <h5>Eliminate manual processes with automated workflows through powerful PDF APIs:</h5>
        <ul>
          <li>Automate document workflows through programmatic creation and manipulation of PDF files from digital assets</li>
          <li>Streamline sharing of attachments and consumption of PDF documents for fast web viewing</li>
        </ul>
        <h5>Common use cases: Retail sales and invoicing, eLearning systems</h5>
      </div>
    </div>
  
  </section>
<!-- use case end -->


  <!-- learn -->
  <section class="grey-bar switch-white no-max-width" >

    <p>Learn about our <a href="pdf-embed.html" target="_blank" class="section-links">PDF Embed API</a> to embed high-fidelity PDFs and control appearance, enable collaboration, and see analytics</p>

  </section>
  <!-- learn end -->


    <!-- help -->
    <section class="dcs-help">
      <div class="dcs-help-wrapper">
        <div class="dcs-help-container">
          <h3>We're ready to help</h3>
          <p>
            Have questions about the Document Services APIs? <a href="https://www.adobe.com/go/pdftoolsapi_requestform" target="_blank">Contact us</a>
          </p>

          <p>
            <a href="https://www.adobe.com/go/pdftoolsapi_forum" target="_blank" class="button-link">
              Go to the Adobe Forum
            </a>
          </p>

          <div class="dcs-help-img"><img src="{{ baseurl }}/gh-assets/img/dcsdk.png"></div>
        </div>
      </div>
    </section>
</div>
