---
layout: default
title: API Use Cases
meta:
active: api-use-cases
---
{% include paths.html %}

<div class="main secondary-page">

  <section id="api-use-cases-blade">
    <div class="api-use-cases-container">
      <div class="api-use-cases-wrapper">

        <div class="intro-copy-wrapper">
          <h1>Document Services API Use Cases</h1>
        </div>

      </div>
    </div>
  </section>

  <section id="api-use-cases-body">
      <div class="api-use-cases-content-container">
        <div class="api-use-cases-content-wrapper">
          <div class="api-use-cases-content-menu">
            {% include use-case-nav.html %}                
          </div>
          <div class="api-cases-content-wrapper">
            <div class="api-cases-content">
                <h2>Republish PDF Content
                </h2>
                <h3>Overview</h3>
                <p>Content originally published in PDF documents can be repurposed to extend its reach and impact, as well as the content owner’s ability to monetize it. Making content available in new, alternative media or translating it to one or more different languages are just two examples of how PDF content might be republished. When republishing PDF documents, it is essential that key contextual attributes of the original content are captured and carried forward in order to preserve and retain the document’s original true meaning. Document structure, reading order, fonts and text styling, text semantics (i.e., tagging a block of text as a paragraph, heading, or list), and the associated images that reinforce meaning are all critical to the republishing process. Adobe PDF Extract API empowers content owners to republish PDF documents to any number of alternative formats and media to extend its value.
                </p>
             
                <h3>APIs Used</h3>
                <ul>
                  <li>Adobe PDF Extract API
                  </li>
                </ul>
                <h3>Scenario</h3>
                <p>A company wants to make a certain type of information normally published in PDF available in audio format using text-to-speech technology. Making written documents available in audio form creates a flexible and convenient way for people to consume information and can also enable interactive experiences for consuming tables, figures, and images.</p>
                <h3>Building this solution</h3>
                <ol>
                  <li>Pass a PDF to Adobe PDF Extract API to retrieve text content
                  </li>
                  <li>Extract headings and paragraph text from the JSON parsed content 
                  </li>
                  <li>Use a Text to Speech API (TTS) to create an audio version of the text including a heading index for voice navigation
                  </li>
                </ol>
              </div>
          </div>
      </div>
  </section>

  {% include use-case-help.html %}
