---
layout: default
title: Document Services API Use Cases — Sales Proposals and Contracts
meta:
active: sales-proposals-and-contracts
---

{% include paths.html %}

<div class="main secondary-page">

	<section id="api-use-cases-blade">
		<div class="api-use-cases-container">
			<div class="api-use-cases-wrapper">
				<div class="intro-copy-wrapper">
					<h1>Document Services API Use Cases</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="api-use-cases-body">
		<div class="api-use-cases-content-container">
			<div class="api-use-cases-content-wrapper">
				<div class="api-use-cases-content-menu">
					{% include use-case-nav.html %}
				</div>
				<div class="api-cases-content-wrapper">
					<div class="api-cases-content">

						<h2>Sales Proposals and Contracts</h2>

						<h3>Overview</h3>
						<p>Sales proposals set the tone for customer relationships. As they are often one of the first touchpoints a company has with a prospect, information included must be accurate, complete, and presented in a polished, brand-consistent manner. However, creating a sales proposal is a tedious and cumbersome process of mixing standard and deal-specific custom content, all of which takes valuable time away from actually selling.</p>
						<p>Using Adobe Document Services, sales teams can:</p>
						<ul>
							<li>Design sales proposal and contract templates in Microsoft Word and merge data from CRM and other data systems</li>
							<li>Create custom, on-brand PDF proposals and contracts</li>
							<li>Include the ability for customers to electronically sign documents</li>
						</ul>

						<h3>Relevant APIs</h3>
						<ul>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/doc-generation.html">Adobe Document Generation API</a></li>
							<li><a href="https://www.adobe.io/apis/documentcloud/sign.html">Adobe Sign API</a></li>
							<li><a href="{{baseurl}}/apis/documentcloud/dcsdk/pdf-tools.html">Adobe PDF Services API</a></li>
						</ul>

						<h3>Scenario</h3>
						<p>A business development team meets frequently with prospects. Shortly after, they follow up with sales proposals. While much proposal content is reusable—firm capabilities, team profiles, SOW terms, etc.—important deal specifics, such as customer information, project scope, and pricing needs to be added. Manually finding and replacing content, as well as highlighting signature fields, is time consuming and monotonous. Automation is needed to ensure accuracy and to deliver proposals quickly.</p>
						<h3>Building this Solution</h3>
						<ol>
							<li>Create a simple data capture form using Microsoft Form (or another form builder)</li>
							<li>Design the sales proposal and contract template using Microsoft Word</li>
							<li>Use Adobe Document Generation Tagger in Word to place fields into the template based on the data model from the form</li>
							<li>Run the Adobe Document Generation API to merge data from the form into the template, creating a final proposal and contract in PDF</li>
							<li>Send to Adobe Sign if signatures are required, and if not, to email directly</li>
						</ol>

						<h3>Enhancements</h3>
						<p>The Adobe PDF Services API can programmatically compress and add password protection to a PDF before sending.</p>

						<h3>Building in Power Automate</h3>
						<p>A solution to this use-case can also be implemented in Power Automate by using the following Adobe connectors:</p>
						<ul>
							<li>Adobe PDF Services Connector (includes Document Generation)</li>
							<li>Adobe Sign Connector</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>

	{% include use-case-help.html %}

</div>