<!-- Tools Code Samples-->

<style>
	.sdk-embed-wrapper {
		background: var( --spectrum-global-color-gray-300 ); /* --spectrum-alias-background-color-default */
		border-radius: 4px;
		position:relative;
	}
	.sdk-embed-wrapper coral-tablist {
		border-color: transparent;
	}
	.code-toolbar .toolbar .toolbar-item button{
		position: absolute;
		top: 0px;
		background: transparent;
		color: #fff;
		right: 5px;
		outline: none;
		border: none;
		margin-top: 7px;
	}
	.tablet-show{
		width:90% !important;
	}
	.tab-item-copy {
		color: var( --spectrum-alias-title-text-color );
		margin-left: auto !important;
	}
	._coral-Tabs-itemLabel {
		color: var( --spectrum-alias-title-text-color );
	}
	._coral-Tabs-selectionIndicator {
		background-color: var( --spectrum-global-color-blue-700 ); /*  */
	}
	code[class*="language-"],
	pre[class*="language-"] {
		white-space: pre-wrap;
	}
</style>


<!-- EXTRACT -->
<p>
	<div id="extract-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest code-window-opened">
		<coral-tabview>
			<coral-tablist size="S">
				<coral-tab class="is-selected">REST API</coral-tab>
				<coral-tab>Node.js</coral-tab>
				<coral-tab>Java</coral-tab>
				<coral-tab>Python</coral-tab>
			</coral-tablist>
			<coral-panelstack>
				<coral-panel><pre><code class="language-shell">{% include code-samples/extract---rest-api.txt %}</code></pre></coral-panel>
				<coral-panel><pre><code class="language-javascript">{% include code-samples/extract---node.txt %}</code></pre></coral-panel>
				<coral-panel><pre><code class="language-java">{% include code-samples/extract---java.txt %}</code></pre></coral-panel>
				<coral-panel><pre><code class="language-py">{% include code-samples/extract---python.txt %}</code></pre></coral-panel>
			</coral-panelstack>
		</coral-tabview>
	</div>
</p>


<!-- CREATE -->
<p>
<div id="create-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest code-window-opened">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">REST API</coral-tab>
			<coral-tab>Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-shell">{% include code-samples/create---rest-api.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/create---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/create---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/create---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- EXPORT -->
<p>
<div id="export-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/export---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/export---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/export---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- OCR -->
<p>
<div id="ocr-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/ocr---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/ocr---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/ocr---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Rotate Pages -->
<p>
<div id="rotate-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/rotate-pages---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/rotate-pages---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/rotate-pages---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Delete Plages -->
<p>
<div id="delete-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/delete-pages---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/delete-pages---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/delete-pages---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Replace Pages -->
<p>
<div id="replace-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/replace-pages---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/replace-pages---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/replace-pages---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Linearize -->
<p>
<div id="linearize-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/linearize---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/linearize---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/linearize---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Compress -->
<p>
<div id="compress-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/compress---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/compress---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/compress---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Reorder -->
<p>
<div id="reorder-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/reorder-pages---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/reorder-pages---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/reorder-pages---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!--  Extraction //TODO remove this? -->
<p>
  <div id="extraction-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
    <coral-tabview>
      <coral-tablist size="S">
        <coral-tab class="is-selected">Python</coral-tab>
        <coral-tab>.Net</coral-tab>
        <coral-tab>Java</coral-tab>
      </coral-tablist>
      <coral-panelstack>
        <coral-panel>
<pre><code class="language-python">#Update this code sample in _includes/code-sample.html on line 868
</code></pre>
      </coral-panel>
      <coral-panel>
        <pre><code class="language-clike">// Update this code sample in _includes/code-sample.html on line 872 
</code></pre>
      </coral-panel>
      <coral-panel>
        <pre><code class="language-java">// Update this code sample in _includes/code-sample.html on line 876 
</code></pre>
      </coral-panel>
    </coral-tabview>
  </div>
</p>


<!--  Combine-->
<p>
<div id="combine-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">REST API</coral-tab>
			<coral-tab>Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/combine---rest-api.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/combine---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/combine---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/reorder-pages---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>
<!-- /Combine -->


<!--  Split-->
<p>
<div id="split-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/split---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/split---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/split---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Insert -->
<p>
<div id="insert-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/insert-pages---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/insert-pages---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/insert-pages---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Generate -->
<p>
<div id="generate-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">REST API</coral-tab>
			<coral-tab>Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-shell">{% include code-samples/generate---rest-api.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/generate---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/generate---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/generate---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Secure (Protect) -->
<p>
<div id="protect-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/protect---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/protect---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/protect---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Remove Protection (Unlock / Remove PDF Password) -->
<p>
<div id="unlock-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/remove-protection---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/remove-protection---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/remove-protection---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>

<!-- Get PDF Properties -->
<p>
<div id="pdf-properties-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab class="is-selected">Node.js</coral-tab>
			<coral-tab>.Net</coral-tab>
			<coral-tab>Java</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/get-pdf-properties---node.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-clike">{% include code-samples/get-pdf-properties---net.txt %}</code></pre></coral-panel>
			<coral-panel><pre><code class="language-java">{% include code-samples/get-pdf-properties---java.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Embed -->
<p>
<div id="embed-code" class="sdk-embed-wrapper tab-container-embed spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab>HTML</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-markup">{% include code-samples/embed---html.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Annotations -->
<p>
<div id="annotations-code" class="sdk-embed-wrapper tab-container-annotations spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab>JavaScript</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/annotations---js.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Analytics -->
<p>
<div id="analytics-code"  class="sdk-embed-wrapper tab-container-annotations spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab>JavaScript</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/analytics---js.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Collaborative -->
<p>
<div id="collaborative-code" class="sdk-embed-wrapper tab-container-annotations spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab>JavaScript</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/collaboration---js.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Save Controls-->
<p>
<div id="Save-code" class="sdk-embed-wrapper tab-container-annotations spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab>JavaScript</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-javascript">{% include code-samples/save-controls---js.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>


<!-- Menu Tools Options -->
<p>
<div id="tools-code" class="sdk-embed-wrapper tab-container-annotations spectrum spectrum--darkest">
	<coral-tabview>
		<coral-tablist size="S">
			<coral-tab>HTML</coral-tab>
		</coral-tablist>
		<coral-panelstack>
			<coral-panel><pre><code class="language-markup">{% include code-samples/menu-and-tool-options---html.txt %}</code></pre></coral-panel>
		</coral-panelstack>
	</coral-tabview>
</div>
</p>
