<footer class="spectrum-grid">
  <div class="grid" id="footer-grid-1">
    <h3>APIs</h3>
    <ul>
      <li>
        <a href="/apis/creativecloud.html">Creative Cloud</a>
      </li>
      <li>
         <a href="/apis/documentcloud.html">Document Cloud</a>
      </li>
      <li>
         <a href="/apis/experiencecloud.html">Experience Cloud</a>
      </li>
      <li>
        <a href="/apis/experienceplatform.html">Adobe Experience Platform</a>
      </li>
    </ul>
  </div>
  <div class="grid" id="footer-grid-2">
    <h3>Support</h3>
    <ul>
      <li>
        <a href="/contactus.html">Contact Us</a>
      </li>
      <li>
        <a href="/support">Adobe Developer Support</a>
      </li>
      <li>
        <a href="https://helpx.adobe.com/contact/enterprise-support.html?promoid=9MZL4DLJ&amp;mv=other">Adobe Product Support</a>
      </li>
      <li>
        <a href="/releasenotes.html">Release Notes</a>
      </li>
    </ul>
  </div>
  <div class="grid" id="footer-grid-3">
    <h3>Adobe</h3>
    <ul>
      <li>
        <a href="/open.html">Open Source Adobe</a>
      </li>
      <li>
        <a href="https://www.adobe.com/privacy.html">Privacy Policy</a>
      </li>
      <li>
        <a href="https://www.adobe.com/legal/terms.html">Terms of Use</a>
      </li>
      <li>
        <a href="https://www.adobe.com/privacy/cookies.html">Cookies</a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2020 Adobe. All rights reserved.</p>
  </div>
</footer>
