<!-- Global site tag (gtag.js) - Google Ads: 625212545 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-625212545"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-625212545');
</script>

<!-- Event handler for conversion tracking - Google Ads: 625212545 -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-625212545/uEL1CImpiesBEIH5j6oC',
        'event_callback': callback
    });
    return false;
  }
</script>
  