<nav class="top">
  <ul>
    <li class="logo"><a href="/">Adobe I/O</a></h1></li>
    <li><a href="/apis">APIs</a></li>
    <li><a href="/authentication">Authentication</a></li>
    <li><a href="/open">Open Source</a></li>
    <li><a href="blog">Blog</a></li>
    <!--li><a href="">Sign in</a></li-->
  </ul>
</nav>


<header class="top">
  <nav class="udp-topNav">
    <a class="main-nav-logo" href="/">
      <span class="main-nav-logo-text">Adobe I/O</span>
    </a>
    <div class="main-nav-wrapper">
      <button class="main-nav-hamburger">
        <span class="main-nav-hamburger-box">
          <span class="main-nav-hamburger-inner"></span>
        </span>
      </button>
      <ul class="main-nav-items">
        <li class="main-nav-menu-item">
          <a class="main-nav-menu-label" href="/apis.html">APIs</a>
        </li>
        <li class="main-nav-menu-item">
          <a class="main-nav-menu-label" href="/authentication.html">Authentication</a>
        </li>
        <li class="main-nav-menu-item">
          <a class="main-nav-menu-label" href="/open.html">Open Source</a>
        </li>
        <li class="main-nav-menu-item">
          <a class="main-nav-menu-label" href="/blog.html">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
