<!--nav class="top">
  <ul>
    <li class="logo"><a href="/">Adobe I/O</a></h1></li>
    <li><a href="/apis">APIs</a></li>
    <li><a href="/authentication">Authentication</a></li>
    <li><a href="/open">Open Source</a></li>
    <li><a href="blog">Blog</a></li>
  </ul>
</nav-->


<header>
  <nav class="top">
    <a class="logo" href="/">
      <span>Adobe I/O</span>
    </a>
    <div class="wrapper">
      <button class="main-nav-hamburger">
        <span class="main-nav-hamburger-box">
          <span class="main-nav-hamburger-inner"></span>
        </span>
      </button>
      <ul>
        <li>
          <a href="/apis.html">APIs</a>
        </li>
        <li>
          <a href="/authentication.html">Authentication</a>
        </li>
        <li>
          <a href="/open.html">Open Source</a>
        </li>
        <li>
          <a href="/blog.html">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
