<!-- use cases -->
<section class="use-case-blade">
    <div class="use-case-container">
        <div class="use-case-wrapper">
            <h3>Use Cases for Document Generation API</h3>

            <div class="case-item-wrapper">
                <div class="case-item" data-href="sales-proposals-and-contracts.html">
                    <div class="case-icon"><img src="/developers-stage.adobe.com/gh-assets/svg/ic-sales-proposals.svg"></div>
                    <h4>Sales Proposals</h4>
                    <p>Create custom branded proposals and contracts</p>
                </div>

                <div class="case-item" data-href="legal-contracts.html">
                    <div class="case-icon"><img src="/developers-stage.adobe.com/gh-assets/svg/ic-legal-contracts.svg"></div>
                    <h4>Legal Contracts</h4>
                    <p>Generate legal contracts with dynamic terms and signatures</p>
                </div>

                <div class="case-item" data-href="invoices.html">
                    <div class="case-icon"><img src="/developers-stage.adobe.com/gh-assets/svg/ic-invoices.svg"></div>
                    <h4>Invoices</h4>
                    <p>Automate invoice generation with various data inputs</p>
                </div>

                <div class="case-item" data-href="nda-creation.html">
                    <div class="case-icon"><img src="/developers-stage.adobe.com/gh-assets/svg/ic-nda.svg"></div>
                    <h4>NDA</h4>
                    <p>Generate standardized NDA documents with custom data and signatures</p>
                </div>

                <div class="cta-wrapper">
                    <a href="sales-proposals-and-contracts.html" target="_self" class="button-link">See all Use Cases
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- use cases end -->
