<!-- use cases -->
<section class="home-use-case-blade">
    <div class="use-case-container">
      <div class="use-case-wrapper">
        <h3>Use Cases for Document Generation API</h3>
  
        <div class="case-item-wrapper">
          <div class="case-item" data-href="digital-content-publishing.html">
            <div class="case-icon"><img src="{{ baseurl }}/gh-assets/svg/ic-digital-document-publishing.svg"></div>
            <h4>Digital Content Publishing</h4>
            <p>Automatically generate text tags from your JSON data model</p>
          </div>
  
          <div class="case-item" data-href="data-analysis.html">
            <div class="case-icon"><img src="{{ baseurl }}/gh-assets/svg/ic-data-analysis.svg"></div>
            <h4>Data Analysis</h4>
            <p>Dynamically insert tags and images</p>
          </div>
  
          <div class="case-item" data-href="reviews-and-approvals.html">
            <div class="case-icon"><img src="{{ baseurl }}/gh-assets/svg/ic-review-and-approval.svg"></div>
              <h4>Review and Approval</h4>
              <p>Automatically generate text tags from your JSON data model</p>
          </div>
  
          <div class="case-item" data-href="legal-contracts.html">
            <div class="case-icon"><img src="{{ baseurl }}/gh-assets/svg/ic-legal-contracts.svg"></div>
              <h4>Legal Contracts</h4>
              <p>Automatically generate text tags from your JSON data model</p>
            </div>
          </div>
  
          <div class="cta-wrapper">
            <a href="sales-proposals-and-contracts.html" class="button-link">
              See all Use Cases
            </a>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  <!-- use cases end -->