<div class="api-use-case_menu">
    <ul>
        <li>
        <div class="use-case-menu-item">
            <div class="chev-arrow-right"></div>
            <div class="agreement"></div>
            <div class="use-case-menu-copy">Agreements and Contracts (4)</div>
        </div>     
        <div class="use-case-menu-support">
            <div id="target-1-1" class="uc-sub-menu {% if page.active == 'g-api-use-cases' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/api-use-cases.html">Sales proposal</a></div>  
            <div id="target-1-2" class="uc-sub-menu {% if page.active == 'embed-sdk' %} active{% endif %}">Legal contracts</div> 
            <div id="target-1-3" class="uc-sub-menu {% if page.active == 'nda' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/nda.html">NDA</a></div> 
            <div id="target-1-4" class="uc-sub-menu {% if page.active == 'embed-sdk' %} active{% endif %}">Employee offer letter</div>   
        </div>
        </li>

        <li>
        <div class="use-case-menu-item">
            <div class="chev-arrow-right"></div>
            <div class="publishing"></div>
            <div class="use-case-menu-copy">Content Publishing (3)</div>
        </div>     
        <div class="use-case-menu-support">
            <div id="target-1-1" class="uc-sub-menu {% if page.active == 'embed-sdk' %} active{% endif %}">Sales proposal</div>  
            <div id="target-1-2" class="uc-sub-menu {% if page.active == 'embed-sdk' %} active{% endif %}">Legal contracts TBD</div> 
            <div id="target-1-3" class="uc-sub-menu {% if page.active == 'embed-sdk' %} active{% endif %}">NDA TBD</div> 
            <div id="target-1-4" class="uc-sub-menu {% if page.active == 'embed-sdk' %} active{% endif %}">Employee offer letter TBD</div>   
        </div>
        </li>

        <li>
        <div class="use-case-menu-item">
            <div class="chev-arrow-right"></div>
            <div class="collaboration"></div>
            <div class="use-case-menu-copy">Collaboration (2)</div>
        </div>     
        <div class="use-case-menu-support">
            <div id="target-1-1" class="uc-sub-menu">Sales proposal</div>  
            <div id="target-1-2" class="uc-sub-menu">Legal contracts</div> 
            <div id="target-1-3" class="uc-sub-menu">NDA</div> 
            <div id="target-1-4" class="uc-sub-menu">Employee offer letter</div>   
        </div>
        </li>

        <li>
        <div class="use-case-menu-item">
            <div class="chev-arrow-right"></div>
            <div class="financial"></div>
            <div class="use-case-menu-copy">Financial (2)</div>
        </div>     
        <div class="use-case-menu-support">
            <div id="target-1-1" class="uc-sub-menu">Sales proposal</div>  
            <div id="target-1-2" class="uc-sub-menu">Legal contracts</div> 
            <div id="target-1-3" class="uc-sub-menu">NDA</div> 
            <div id="target-1-4" class="uc-sub-menu">Employee offer letter</div>   
        </div>
        </li>

        <li>
        <div class="use-case-menu-item">
            <div class="chev-arrow-right"></div>
            <div class="archiving"></div>
            <div class="use-case-menu-copy">Archiving and Retrieval (1)</div>
        </div>     
        <div class="use-case-menu-support">
            <div id="target-1-1">Sales proposal</div>  
            <div id="target-1-2">Legal contracts</div> 
            <div id="target-1-3">NDA</div> 
            <div id="target-1-4">Employee offer letter</div>   
        </div>
        </li>
    </ul>
</div>