<div class="api-use-case_menu">
  <ul>
    <li>
      <div class="use-case-menu-item">
        <a href="{{baseurl}}/apis/documentcloud/dcsdk/legal-contracts.html">
          <div class="chev-arrow-right"></div>
          <div class="agreement"></div>
          <div class="use-case-menu-copy">Agreements and Contracts (4)</div>
        </a>
      </div>
      <div class="use-case-menu-support">
        <div id="target-1-1" class="uc-sub-menu {% if page.active == 'sales-proposals-and-contracts' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/sales-proposals-and-contracts.html">Sales Proposals and Contracts</a></div>
        <div id="target-1-2" class="uc-sub-menu {% if page.active == 'legal-contracts' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/legal-contracts.html">Legal Contracts</a></div>
        <div id="target-1-3" class="uc-sub-menu {% if page.active == 'nda-creation' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/nda-creation.html">NDA Creation</a></div>
        <div id="target-1-4" class="uc-sub-menu {% if page.active == 'employee-offer-letters' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/employee-offer-letters.html">Employee Offer Letters</a></div>
      </div>
    </li>

    <li>
      <div class="use-case-menu-item">
        <a href="{{baseurl}}/apis/documentcloud/dcsdk/content-based-process-automation.html">
          <div class="chev-arrow-right"></div>
          <div class="extraction"></div>
          <div class="use-case-menu-copy">Content & Data Extraction (3)</div>
        </a>
      </div>
      <div class="use-case-menu-support">
        <div id="target-6-1" class="uc-sub-menu {% if page.active == 'content-based-process-automation' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/content-based-process-automation.html">Content Based Process Automation</a></div>
        <div id="target-6-2" class="uc-sub-menu {% if page.active == 'data-analysis' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/data-analysis.html">Data Analysis</a></div>
        <div id="target-6-3" class="uc-sub-menu {% if page.active == 'republish-pdf-content' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/republish-pdf-content.html">Republish PDF Content</a></div>
      </div>
    </li>

    <li>
      <div class="use-case-menu-item">
        <a href="{{baseurl}}/apis/documentcloud/dcsdk/digital-content-publishing.html">
          <div class="chev-arrow-right"></div>
          <div class="publishing"></div>
          <div class="use-case-menu-copy">Content Publishing (3)</div>
        </a>
      </div>
      <div class="use-case-menu-support">
        <div id="target-2-1" class="uc-sub-menu {% if page.active == 'digital-content-publishing' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/digital-content-publishing.html">Digital Content Publishing</a></div>
        <div id="target-4-3" class="uc-sub-menu {% if page.active == 'report-creation-and-editing' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/report-creation-and-editing.html">Report Creation and Editing</a></div>
        <div id="target-1-5" class="uc-sub-menu {% if page.active == 'job-posting' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/job-posting.html">Job Posting</a></div>
      </div>
    </li>

    <li>
      <div class="use-case-menu-item">
        <a href="{{baseurl}}/apis/documentcloud/dcsdk/student-teacher-collaboration.html">
          <div class="chev-arrow-right"></div>
          <div class="collaboration"></div>
          <div class="use-case-menu-copy">Collaboration (2)</div>
        </a>
      </div>
      <div class="use-case-menu-support">
        <div id="target-3-1" class="uc-sub-menu {% if page.active == 'student-teacher-collaboration' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/student-teacher-collaboration.html">Student-Teacher Collaboration</a></div>
        <div id="target-2-2" class="uc-sub-menu {% if page.active == 'reviews-and-approvals' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/review-and-approval.html">Review and Approval</a></div>
      </div>
    </li>

    <li>
      <div class="use-case-menu-item">
        <a href="{{baseurl}}/apis/documentcloud/dcsdk/data-analysis-financial.html">
          <div class="chev-arrow-right"></div>
          <div class="financial"></div>
          <div class="use-case-menu-copy">Financial (2)</div>
        </a>
      </div>
      <div class="use-case-menu-support">
        <div id="target-4-2" class="uc-sub-menu {% if page.active == 'data-analysis-financial' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/data-analysis-financial.html">Data Analysis</a></div>
        <div id="target-4-1" class="uc-sub-menu {% if page.active == 'invoices' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/invoices.html">Invoices</a></div>
      </div>
    </li>

    <li>
      <div class="use-case-menu-item">
        <a href="{{baseurl}}/apis/documentcloud/dcsdk/search-and-indexing.html">
          <div class="chev-arrow-right"></div>
          <div class="archiving"></div>
          <div class="use-case-menu-copy">Archiving and Retrieval (1)</div>
        </a>
      </div>
      <div class="use-case-menu-support">
        <div id="target-5-1" class="uc-sub-menu {% if page.active == 'search-and-indexing' %} active{% endif %}"><a href="{{baseurl}}/apis/documentcloud/dcsdk/search-and-indexing.html">Search and Indexing</a></div>
      </div>
    </li>
  </ul>
</div>
