<section class="dcs-help home">
    <div class="dcs-help-container">
        <div class="dcs-help-wrapper">
        <div class="stack">
            <div class="stack1"></div>
            <div class="stack2"></div>
        </div>
        <div class="dcs-help-copy">
            <h3>How to get started?</h3>
            <p>Start free trial with 1,000 PDF transactions for up to 6 months</p>
            <div class="cta-get-started home">
                <a href="https://www.adobe.com/go/dcsdks_credentials" class="spectrum-Button spectrum-Button--cta" target="_blank">
                    Start free trial
                </a>
            </div>
        </div>
        </div>
    </div>
</section>