#api-use-cases-body {
    margin-top: 2.75rem;
    @media screen and (min-width: 1024px) {
      margin-top: 4.375rem;
    }
}

#api-use-cases-blade {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: #1B5496 url("../img/bg-hero-doc-gen.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
  @media screen and (min-width: 1024px) {
    height: 130px;
  }

  h1 {
    color: $white;
    font-family: 'Adobe Clean Bold';
    font-size: 1.375rem;
    line-height: 2.1875rem;
    font-weight: 900;
    padding: 2.1875rem 1.3125rem 2.125rem 1.5rem !important;
    text-align: left;
    @media screen and (min-width: 767px) {
      padding-left: 3rem !important;
    }
    @media screen and (min-width: 1024px) {
      font-size: 2.25rem;
      line-height: 2.25rem;
      padding: 2.5rem 0 0 !important;
      text-align: center;
    }
  }

  p {
    text-align: left;
    padding: 0 6rem 0 1.5rem;
    @media screen and (min-width: 767px) {
      padding: 0 6rem 0 2.625rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 0;
      text-align: center;
    }
  }
}

#api-use-cases-body {
  margin-left: 1.5rem;
  @media screen and (min-width: 1024px) {
    margin-left: 0;
  }
  @media screen and (min-width: 767px) {
    margin-left: 3rem;
  }

  .api-use-cases-content-container {
    .api-use-cases-content-wrapper {
      margin: 0 auto;
      max-width: 1060px;
      @media screen and (min-width: 1024px) {
        display: flex;
      }

      .api-use-cases-content-menu {
        @media screen and (min-width: 767px) {}
        @media screen and (min-width: 1024px) {
          margin-left: 0;
        }

        .api-use-case_menu ul {
          list-style: none;
          margin: 0;
          padding: 0;
          @media screen and (min-width: 767px) {
            margin: 0 2.25rem 0 0;
          }
        }

        .api-use-case_menu ul li {
          color: $grey;
          cursor: pointer;
          font-size: 1.1875rem;
          margin-bottom: 1rem;
          width: 100%;
          @media screen and (min-width: 1024px) {
            margin-bottom: 1.875rem;
          }
        }

        .api-use-case_menu ul li .use-case-menu-copy {
          //   margin-top: -2.85rem;
          //   margin-left: 2.875rem;
          font-size: 1rem;
          padding-left: 8px;
          white-space: nowrap;
          a {
            color: $grey;
            text-decoration: none;
            &:hover {
              color: $grey;
              text-decoration: none;
            }
            &:active {
              color: $grey;
              text-decoration: none;
            }
          }
        }

        .api-use-case_menu ul li .shadow-box.dctsdk {
          margin: -1.375rem 0 0;
          border: 1px solid #000;
          @media screen and (min-width: 767px) {
            padding: 1.0625rem 1rem;
          }
        }

        .chev-arrow-right {
          position: relative !important;
          width: 1rem;
          height: 1rem;
          background-size: 1rem;
          background-image: url("../svg/smock_chevronright_18_n.svg");
          text-decoration: none !important;
          @media screen and (min-width: 767px) {
            // visibility: hidden;
          }
        }

        .chev-arrow-down {
          width: 1.5rem;
          height: 1.5rem;
          background-size: 1.5rem;
          background-image: url("../svg/smock_chevronright_18_n.svg");
          margin-left: -1.875rem;
          text-decoration: none !important;
          @media screen and (min-width: 767px) {
            visibility: hidden;
          }
        }

        .api-use-case_menu ul li .agreement {
          width: 40px;
          height: 40px;
          margin-top: -5px;
          background-size: 40px 40px;
          background-image: url("../img/menu-use-cases/ic-category-agreements.svg");
          background-repeat: no-repeat;
          background-position: center center;
        }

        .api-use-case_menu ul li .extraction {
          width: 40px;
          height: 40px;
          margin-top: -5px;
          background-size: 40px 40px;
          background-image: url("../img/menu-use-cases/ic-extract-40.svg");
        }

        .api-use-case_menu ul li .publishing {
          width: 40px;
          height: 40px;
          margin-top: -5px;
          background-size: 40px 40px;
          background-image: url("../img/menu-use-cases/ic-category-content-publishing.svg");
        }

        .api-use-case_menu ul li .collaboration {
          width: 40px;
          height: 40px;
          margin-top: -5px;
          background-size: 40px 40px;
          background-image: url("../img/menu-use-cases/ic-category-collaboration.svg");
          background-repeat: no-repeat;
          background-position: center center;
        }

        .api-use-case_menu ul li .financial {
          width: 40px;
          height: 40px;
          margin-top: -5px;
          background-size: 40px 40px;
          background-image: url("../img/menu-use-cases/ic-category-financial.svg");
          background-repeat: no-repeat;
          background-position: center center;
        }

        .api-use-case_menu ul li .archiving {
          width: 40px;
          height: 40px;
          margin-top: -5px;
          background-size: 40px 40px;
          background-image: url("../img/menu-use-cases/ic-category-archiving.svg");
          background-repeat: no-repeat;
          background-position: center center;
        }

        .use-case-menu-support.work-flow-support-mode-mobile {
          //display: none;
        }
      }

      .use-case-menu-item {
        text-decoration: none !important;
        position: relative;
        display: flex;

        a {
          display: inherit;
          text-decoration: none !important;
          color: $grey;
        }

        .chev-arrow-right {
          text-decoration: none !important;
          position: absolute;
          transform: initial;
          transition-duration: 150ms;
          top: 6px;
        }

        &.open {
          .chev-arrow-right {
            text-decoration: none !important;
            transform: rotate(90deg);
            transition-duration: 150ms;
          }

          .use-case-menu-copy {
            font-family: 'Adobe Clean Bold';
          }
        }
      }

      .use-case-menu-support {
        font-size: 1rem;
        display: none;
        text-decoration: none !important;
        @media screen and (min-width: 767px) {
          display: none;
        }
        @media screen and (min-width: 1024px) {
          margin-left: 4rem;
        }

        .uc-sub-menu {
          padding: 0 2rem 0 0;
          border-radius: 6px;
          margin-bottom: 0.25rem;
          &:hover {
            background-color: #F4F4F4;
          }

          &.active {
            background-color: #F4F4F4;
          }

          :hover,
          :visited,
          a {
            text-decoration: none !important;
            color: #4B4B4B;
            display: block;
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
          }
        }

        &.open {
          display: block;
          margin-left: 4rem;
        }
      }

      .use-case-menu-item.open {
        text-decoration: none !important;
        position: relative;
        margin-top: 0;

        .chev-arrow-right {
          text-decoration: none !important;
          transform: rotate(90deg);
          transition-duration: 150ms;
        }
      }

      .api-cases-content {
        max-width: 730px;
        @media screen and (min-width: 767px) {}
        @media screen and (min-width: 1024px) {
          margin-left: 2.5rem;
        }

        h2 {
          margin: 0!important;
          text-align: left!important;
          font-size: 1.375rem;
        }

        h3 {
          margin: 0;
          padding: 1.5rem 0 0;  // 2.5rem 0 0
          font-size: 1.125rem;
          text-align: left!important;
        }

        p {
          margin: 0 0 1rem 0 !important;
          font-size: 1rem !important;
          text-align: left !important;
          padding-top: 0;  // 0.625rem
          padding-bottom: 0;
        }

        ul {
          margin: 0 0 0 -0.5rem;
          padding-bottom: 0.125rem;

          li {
            color: #4b4b4b;
            //font-family: 'Adobe Clean Light';
            font-size: 1rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            color: #4B4B4B;
          }
        }

        ol {
          margin: 0 0 0 -1rem;
          padding-bottom: 0.125rem;

          li {
            color: #4b4b4b;
            //font-family: 'Adobe Clean Light';
            font-size: 1rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            color: #4B4B4B;
          }
        }
      }
    }
  }
}
