#doc-gen-lead-blade {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: #1B5496 url("../img/bg-hero-doc-gen.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;

  h1 {
    color: $white;
    font-family: 'Adobe Clean Bold';
    font-size: 1.6875rem;
    line-height: 2.1875rem;
    font-weight: 900;
    padding: 2.5rem 6rem 0 1.5rem !important;
    text-align: left;
    @media screen and (min-width: 767px) {
      padding: 0 6rem 0 2.625rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 2.25rem;
      line-height: 2.25rem;
      padding: 2.5rem 0 0 !important;
      text-align: center;
    }
  }

  p {
    text-align: left;
    padding: 0 6rem 0 1.5rem;
    @media screen and (min-width: 767px) {
      padding: 0 6rem 0 2.625rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 0;
      text-align: center;
    }
  }
}

.doc-gen-invoice {
  margin: 0 !important;
  padding: 0 !important;
  background: url("../img/doc-gen-hero-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: bottom left -2rem;
  background-size: cover;
  max-width: 100%;
  height: 21.125rem;
  color: $white;
  @media screen and (min-width: 767px) {
    background: url("../img/doc-gen-hero-tablet@2x.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    max-width: 48rem;
    height: 21.125rem;
  }
  @media screen and (min-width: 1024px) {
    margin: 0 auto !important;
    background: url("../img/doc-gen-hero-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    max-width: 52.625rem;
    height: 24rem;
  }
}

section.doc-gen-blade {
  width: 100%;
  background: #F7F7F7;
  margin: 0 !important;
  padding: 0 !important;

  .doc-gen-container {
    padding-bottom: 7.5rem;

    .doc-gen-wrapper {
      padding-left: 1.5rem;
      padding-right: 1.3125rem;

      h3 {
        padding-top: 5.625rem;
        padding-bottom: 0 !important;
        text-align: center;
      }
      @media screen and (min-width: 1024px) {
        margin: 0 auto;
        padding: 0 !important;
        max-width: 1060px;
      }

      .gen-item-wrapper {
        @media screen and (min-width: 767px) {
          margin: 0 auto;
          padding: 4.25rem 7.5rem 0;
        }
        @media screen and (min-width: 1024px) {
          max-width: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-evenly;
        }

        .gen-item {
          clear: both;
          @media screen and (min-width: 1024px) {
            max-width: 16.5rem;
          }

          .gen-icon {
            padding-top: 4.875rem;
            max-width: 248px;
            margin: 0 auto;
            text-align: center;
            @media screen and (min-width: 767px) {
              float: left;
              padding: 0 5rem 5rem 0;
            }
            @media screen and (min-width: 1024px) {
              float: none;
              padding: 4.875rem 0 0;
            }
          }

          h4 {
            text-align: center;
            font-family: 'Adobe Clean Bold';
            font-size: 1.375rem;
            padding: 0.625rem 33px 0;
            text-transform: none;
            line-height: 1.8125rem;
            letter-spacing: 0.1px;
            @media screen and (min-width: 767px) {
              text-align: left;
            }
            @media screen and (min-width: 1024px) {
              text-align: center;
              padding: 0.625rem 0 0;
            }
          }

          p {
            text-align: center;
            margin-bottom: 0;
            padding-top: 1.25rem;
            font-size: 1rem;
            color: $dk-grey;
            line-height: 1.5rem;
            @media screen and (min-width: 767px) {
              text-align: left;
            }
            @media screen and (min-width: 1024px) {
              text-align: center;
              max-width: 13.8425rem;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

section.sample-blade {
  width: 100%;
  background: #F7F7F7;
  margin: 0 !important;
  padding: 0 !important;

  p {
    text-align: center;
  }

  .cta-wrapper {
    text-align: center;
    &.show-templates {
      padding-top: 1rem;
      a {
        color: #4B4B4B;
        font-size: 0.875rem;
        text-decoration: underline;
      }
    }
  }

  .sample-container {
    padding-bottom: 7.5rem;

    .sample-wrapper {
      padding: 0 1.5rem;

      h3 {
        padding-top: 5.625rem;
        padding-bottom: 0 !important;
        text-align: center;
      }
      @media screen and (min-width: 1024px) {
        margin: 0 auto;
        padding: 0 !important;
        max-width: 850px;
      }

      .sample-item-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        @media screen and (min-width: 767px) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        .sample-item {
          padding-bottom: 3rem;

          .sample-icon {
            text-align: center;

            img {
              width: 180px;
              height: 255px;
            }
          }

          h5 {
            text-align: center;
            font-family: 'Adobe Clean Bold';
            font-size: 1rem;
            text-transform: none;
            line-height: 1rem;
            letter-spacing: 0.1px;
          }
        }
      }
    }
  }
}

section.use-case-blade {
  width: 100%;
  background: $white;
  margin: 0 !important;
  padding: 0 !important;

  .use-case-container {
    padding-bottom: 5rem;

    .use-case-wrapper {
      h3 {
        padding: 4.125rem 0;
        text-align: center;
      }
      margin: 0 auto;
      padding: 0 !important;
      max-width: 1320px;

      .case-item-wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        max-width: 330px;
        @media screen and (min-width: 767px) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          max-width: 660px;
        }
        @media screen and (min-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          max-width: 1320px;
        }

        .case-item {
          color: $white;
          border-radius: 10px;
          margin: 0 1.25rem 1.25rem;
          padding: 2rem;
          max-width: 18.125rem;

          &:nth-of-type(1) {
            background: rgb(241,152,97);
            background: linear-gradient(180deg, rgba(241,152,97,1) 0%, rgba(204,50,50,1) 100%);
          }

          &:nth-of-type(2) {
            background: rgb(95,194,211);
            background: linear-gradient(180deg, rgba(95,194,211,1) 0%, rgba(86,90,191,1) 100%);
          }

          &:nth-of-type(3) {
            background: rgb(108,185,102);
            background: linear-gradient(180deg, rgba(108,185,102,1) 0%, rgba(38,109,113,1) 100%);
          }

          &:nth-of-type(4) {
            background: rgb(34,96,181);
            background: linear-gradient(180deg, rgba(34,96,181,1) 0%, rgba(41,139,120,1) 100%);
          }
          // .case-icon {
          //   padding-top: 4.875rem;
          //   max-width: 248px;
          //   margin: 0 auto;
          //   @media screen and (min-width: 1024px) {}
          // }
          h4 {
            color: $white;
            text-align: center;
            font-family: 'Adobe Clean Bold';
            font-size: 1.125rem;
            padding: 0.625rem 0 0;
            text-transform: none;
            line-height: 1.8125rem;
            letter-spacing: 0.1px;
            text-align: left;
          }

          p {
            margin-bottom: 0;
            padding-top: 1.25rem;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;
            @media screen and (min-width: 1024px) {
              max-width: 13.8425rem;
              margin: 0 auto;
            }
          }
        }
      }

      .cta-wrapper {
        text-align: center;
        padding-top: 3.75rem;
      }
    }
  }
}

section.key-features-blade {
  width: 100%;
  background: $white;
  margin: 0 !important;
  padding: 0 !important;

  .key-features-container {
    padding-bottom: 5rem;

    .key-features-wrapper {
      h3 {
        padding: 4.125rem 0;
        text-align: center;
      }
      margin: 0 auto;
      padding: 0 !important;
      max-width: 1320px;

      .key-item-wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        max-width: 330px;
        @media screen and (min-width: 767px) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          max-width: 660px;
        }
        @media screen and (min-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          max-width: 1320px;
        }

        .key-item {
          color: $white;
          border-radius: 10px;
          margin: 0 1.25rem 1.25rem;
          padding: 2rem;
          max-width: 18.125rem;

          &:nth-of-type(1) {
            background: rgb(80,183,214);
            background: linear-gradient(180deg, rgba(80,183,214,1) 0%, rgba(58,92,173,1) 100%);
          }

          &:nth-of-type(2) {
            background: rgb(235,81,116);
            background: linear-gradient(180deg, rgba(235,81,116,1) 0%, rgba(240,106,82,1) 100%);
          }

          &:nth-of-type(3) {
            background: rgb(78,67,197);
            background: linear-gradient(180deg, rgba(78,67,197,1) 0%, rgba(206,111,195,1) 100%);
          }

          &:nth-of-type(4) {
            background: rgb(232,124,118);
            background: linear-gradient(180deg, rgba(232,124,118,1) 0%, rgba(237,67,104,1) 100%);
          }
          // .case-icon {
          //   padding-top: 4.875rem;
          //   max-width: 248px;
          //   margin: 0 auto;
          //   @media screen and (min-width: 1024px) {}
          // }
          h4 {
            color: $white;
            text-align: center;
            font-family: 'Adobe Clean Bold';
            font-size: 1.125rem;
            padding: 0.625rem 0 0;
            text-transform: none;
            line-height: 1.8125rem;
            letter-spacing: 0.1px;
            text-align: left;
          }

          p {
            margin-bottom: 0;
            padding-top: 1.25rem;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;
            @media screen and (min-width: 1024px) {
              max-width: 13.8425rem;
              margin: 0 auto;
            }
          }
        }
      }

      .cta-wrapper {
        text-align: center;
        padding-top: 3.75rem;
      }
    }
  }
}
