#doc-ext-lead-blade {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: #1B5496 url("../img/bg-hero-doc-gen.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;

  h1 {
    color: $white;
    font-family: 'Adobe Clean Bold';
    font-size: 1.6875rem;
    line-height: 2.1875rem;
    font-weight: 900;
    padding: 2.5rem 6rem 0 1.5rem !important;
    text-align: left;
    @media screen and (min-width: 767px) {
      padding: 2.5rem 6rem 0 2.625rem !important;
    }
    @media screen and (min-width: 1024px) {
      font-size: 2.25rem;
      line-height: 2.25rem;
      padding: 2.5rem 0 0 !important;
      text-align: center;
    }
  }

  p {
    text-align: left;
    padding: 0 6rem 0 1.5rem;
    @media screen and (min-width: 767px) {
      padding: 0 6rem 0 2.625rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 0;
      text-align: center;
    }
    &:first-of-type {
      @media screen and (min-width: 1024px) {
        padding: 0;
        text-align: center;
        max-width: 35rem;
        margin: 1rem auto 2.5rem auto;
      }
    }
  }
}

.doc-ext-invoice {
  margin: 0 !important;
  padding: 0 !important;
  background: url("../img/extract-hero-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: bottom left -14rem;
  background-size: cover;
  max-width: 100%;
  height: 21.125rem;
  color: $white;
  @media screen and (min-width: 767px) {
    background: url("../img/extract-hero-tablet@2x.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    max-width: 49rem;
    height: 21.125rem;
  }
  @media screen and (min-width: 1024px) {
    margin: 0 auto !important;
    //background: url("../img/extract-hero-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    max-width: 57rem;
    height: 24rem;
  }
}

section.doc-ext-blade {
  width: 100%;
  background: #F7F7F7;
  margin: 0 !important;
  padding: 0 !important;

  .doc-ext-container {
    padding-bottom: 7.5rem;

    .doc-ext-wrapper {
      padding: 0 2.5rem;
      @media screen and (min-width: 767px) {
        padding: 0;
      }

      h3 {
        padding-top: 5.625rem;
        padding-bottom: 0 !important;
        text-align: center;
      }
      @media screen and (min-width: 1024px) {
        margin: 0 auto;
        padding: 0 !important;
        max-width: 1060px;
      }

      .ext-item-wrapper {
        @media screen and (min-width: 767px) {
          margin: 0 auto;
          padding: 3rem 7.5rem 0;
        }
        @media screen and (min-width: 1024px) {
          max-width: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-evenly;
        }

        .ext-item {
          clear: both;
          @media screen and (min-width: 1024px) {
            max-width: 16.5rem;
          }

          .ext-icon {
            padding-top: 1.625rem;
            max-width: 248px;
            margin: 0 auto;
            text-align: center;
            @media screen and (min-width: 767px) {
              float: left;
              padding: 0 4rem 3.5rem 0;
            }
            @media screen and (min-width: 1024px) {
              float: none;
              padding: 4.5rem 0 0;
            }
          }

          h4 {
            text-align: center;
            font-family: 'Adobe Clean Bold';
            font-size: 1.375rem;
            padding: 0 2rem;
            text-transform: none;
            line-height: 1.8125rem;
            letter-spacing: 0.1px;
            @media screen and (min-width: 767px) {
              text-align: left;
            }
            @media screen and (min-width: 1024px) {
              text-align: center;
              padding: 0.625rem 0 0;
            }
          }

          p {
            text-align: center;
            margin-bottom: 0;
            padding-top: 1.25rem;
            font-size: 1rem;
            color: $dk-grey;
            line-height: 1.5rem;
            @media screen and (min-width: 767px) {
              text-align: left;
            }
            @media screen and (min-width: 1024px) {
              text-align: center;
              max-width: 13.8425rem;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  .cta-wrapper {
    text-align: center;
    padding-top: 2rem;
  }

  .button-link {
    text-decoration: none !important;
    color: $grey !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    max-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 3.5px 14px 4.5px;
    font-size: 14px;
    font-weight: 700;

    &:hover {
      color: $white !important;
      text-decoration: none !important;
      background: #6e6e6e;
    }

    &.blue {
      background-color: #0e6de0;
      border-color: #0e6de0;
      color: $white !important;

      &:hover {
        background-color: #0d66d0;
        border-color: #0d66d0;
        color: $white !important;
      }
    }
  }
}

section.works-blade {
  width: 100%;
  background: #F7F7F7;
  margin: 0 !important;
  padding: 0 !important;

  p {
    text-align: center;
    padding: 1.25rem 0;
    font-size: 1rem;
    color: $dk-grey;
    line-height: 1.5rem;
    @media screen and (min-width: 767px) {
      text-align: left;
    }
    @media screen and (min-width: 1024px) {
      text-align: center;
      max-width: 38.75rem;
      margin: 0 auto;
    }

    &.title {
      font-size: 1.06125rem;
      padding: 0;
      margin: 0 0 2rem;
      text-align: center;
      @media screen and (min-width: 1024px) {
        text-align: center;
        max-width: 52.5rem;
        margin: 0 auto 2rem auto;
      }
    }

    &.works-chart-mobile {
      display: block;
      max-width: 100%;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    &.works-chart-desktop {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        max-width: 100%;
      }
    }
  }

  .video {
    text-align: center;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
      max-width: 52.5rem;
    }
  }

  h3 {
    padding: 5.625rem 0 1.5rem 0 !important;
    text-align: center;
  }

  h5 {
    text-align: center;
    font-family: 'Adobe Clean Bold';
    font-size: 1rem;
    text-transform: none;
    line-height: 1rem;
    letter-spacing: 0.1px;
  }

  .cta-wrapper {
    text-align: center;

    .button-link {
      text-decoration: none;
      text-decoration-style: solid !important;

      &:hover {
        text-decoration: none !important;
      }

      &:active {
        text-decoration: none !important;
      }
      &.blue {
        background-color: #0e6de0;
        border-color: #0e6de0;
        color: $white !important;

        &:hover {
          background-color: #0d66d0;
          border-color: #0d66d0;
          color: $white !important;
        }
      }
    }
  }

  .works-container {
    padding: 0 2.5rem 3.75rem;
    outline: none;
  }
}

section.key-ext-features-blade {
  width: 100%;
  background: $white;
  margin: 0 !important;
  padding: 0 !important;

  .key-ext-features-container {
    padding-bottom: 5rem;

    .key-ext-features-wrapper {
      h3 {
        padding: 4.125rem 0;
        text-align: center;
      }
      margin: 0 auto;
      padding: 0 2.5rem;
      @media screen and (min-width: 767px) {
        padding: 0;
      }
      max-width: 1320px;

      .key-ext-item-wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 330px;
        @media screen and (min-width: 767px) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          max-width: 660px;
        }
        @media screen and (min-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          max-width: 990px;
        }

        .key-ext-item {
          color: $white;
          border-radius: 10px;
          margin: 0 1.25rem 2.5rem;
          padding: 2rem;
          max-width: 18.125rem;

          &:nth-of-type(1) {
            background: rgb(95,194,211);
            background: linear-gradient(180deg, rgba(95,194,211,1) 0%, rgba(86,90,191,1) 100%);
          }

          &:nth-of-type(2) {
            background: rgb(108,185,102);
            background: linear-gradient(180deg, rgba(108,185,102,1) 0%, rgba(38,109,113,1) 100%);
          }

          &:nth-of-type(3) {
            background: rgb(241,152,97);
            background: linear-gradient(180deg, rgba(241,152,97,1) 0%, rgba(204,50,50,1) 100%);
          }

          .button-link {
            text-align: left;
            text-decoration-style: solid !important;
            color: $white !important;
            font-weight: normal !important;
            font-size: 12px;
            max-height: 32px;
            padding: 4px 14px;
            max-width: 100px;
            @media screen and (min-width: 375px) {
              font-size: 14px;
              max-height: 26px;
              padding: 1.5px 14px 4.5px;
            }
            @media screen and (min-width: 767px) {
              padding: 3.5px 14px 4.5px;
            }

            &:hover {
              text-decoration: none !important;
            }

            &:active {
              text-decoration: none !important;
            }
          }

          h4 {
            color: $white;
            text-align: center;
            font-family: 'Adobe Clean Bold';
            font-size: 1.125rem;
            padding: 0.625rem 0 0;
            text-transform: none;
            line-height: 1.8125rem;
            letter-spacing: 0.1px;
            text-align: left;
          }

          p {
            margin-bottom: 0;
            padding-top: 1.25rem;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: left;
            @media screen and (min-width: 1024px) {
              max-width: 13.8425rem;
              margin: 0 auto;
            }
          }
        }
      }

      .cta-wrapper {
        text-align: center;
        padding-top: 1.5rem;

        .button-link {
          text-decoration: none;
          text-decoration-style: solid !important;
          white-space: nowrap;

          &:hover {
            text-decoration: none !important;
          }

          &:active {
            text-decoration: none !important;
          }

          &.blue {
            background-color: #0e6de0;
            border-color: #0e6de0;
            color: $white !important;

            &:hover {
              background-color: #0d66d0;
              border-color: #0d66d0;
              color: $white !important;
            }
          }
        }
      }

      .key-ext-item {
        .cta-wrapper {
          text-align: left;
          padding-top: 1.5rem;

          .button-link {
            font-weight: 700 !important;
            text-decoration: none;
            text-decoration-style: solid !important;
            white-space: nowrap;
            background-color: $white;
            border-color: $white;
            color: $grey !important;

            &:hover {
              text-decoration: none !important;
              background-color: $grey;
              color: $white !important;
            }
          }
        }
      }
    }
  }
}

section.get-started {
  margin: 0 !important;
  padding: 5rem 2rem;
  text-align: left;
  @media screen and (min-width: 1024px) {
    max-width: none;
  }

  h3 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .cta-wrapper {
    display: block;
    margin: 0 0 0 3rem;
    text-align: left;
    @media screen and (min-width: 1024px) {
      margin: 0 auto;
      text-align: center;
    }
  }

  ol {
    list-style: none;
    counter-reset: get-started-counter;
    padding: 0;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin: 0 auto;
      padding: 0;
    }
    @media screen and (min-width: 1024px) {
      margin: 0 auto;
      max-width: 69rem;
      padding-top: 45px;
    }
  }

  ol li {
    counter-increment: get-started-counter;
    margin-bottom: 3rem;
    position: relative;
    padding: 0 0 2.375rem;
    border-bottom: 1px solid $lt-grey;
    @media screen and (min-width: 1024px) {
      display: inline-block;
      margin: 0;
      width: 33%;
      padding: 0 2rem;
      vertical-align: top;
      border-bottom: 0;
    }

    &:nth-of-type(2) {
      .cta-wrapper {
        .button-link {
            display: inline;
            margin: 0 0.5rem;
            line-height: 2.5rem;
        }
      }
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  ol li::before {
    content: counter(get-started-counter) "";
    color: $white;
    border-radius: 50%;
    background-color: $blue;
    font-weight: bold;
    padding: 6px;
    font-size: 17px;
    line-height: 17px;
    width: 17px;
    text-align: center;
    position: absolute;
    left: 0;
    max-width: 46px;
    max-height: 46px;
    @media screen and (min-width: 1024px) {
      transform: scale(1.58625);
      left: calc(50% - 17px);
      top: -1rem;
    }
  }

  p {
    margin: 2rem 0 1rem 3rem;
    text-align: left;
    @media screen and (min-width: 1024px) {
      margin: 2rem 0;
      text-align: center;
    }

    &.title {
      margin: 0 0 2rem;
      text-align: center;
    }
  }

  .button-link {
    text-decoration: none !important;
    color: $grey !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    max-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 3.5px 14px 4.5px;
    font-size: 14px;
    font-weight: 700;

    &:hover {
      color: $white !important;
      text-decoration: none !important;
      background: #6e6e6e;
    }

    &.blue {
      background-color: #0e6de0;
      border-color: #0e6de0;
      color: $white !important;

      &:hover {
        background-color: #0d66d0;
        border-color: #0d66d0;
        color: $white !important;
      }
    }
  }
}
