.intro-copy-wrapper {
  .gen-api-tplt {
    padding-bottom: 2.75rem !important;
  }
}

.gen-api-tplt-body {
  width: 100%;
  background-color: #ffffff !important;

  .template-content-container {
    max-width: 1060px;
    margin: 0 auto;

    .template-content-wrapper {
      padding-top: 1.8125rem;
      @media screen and (min-width: 768px) {}
      @media screen and (min-width: 1024px) {
        display: flex;
      }

      .api-tplt-content {
        max-width: 220px !important;
        width: 100%;
        margin-left: 1.5625rem;
        @media screen and (min-width: 767px) {
          margin-left: 3.5rem;
        }
        @media screen and (min-width: 1024px) {
          //margin-left:0;
        }

        .api-tplt-content-menu {
          @media screen and (min-width: 1024px) {
            margin-top: 1.875rem;
          }

          p {
            text-align: left !important;
            font-family: 'Adobe Clean Bold';
            font-size: 1rem;
            margin: 0;
            @media screen and (min-width: 767px) {
              text-align: left !important;
            }
          }

          ul {
            margin: 0;
            padding: 1.375rem 0 0;
            list-style-type: none;

            li {
              label {
                margin-left: 15px;
              }
              font-size: 0.875rem;
              @media screen and (min-width: 767px) {
                margin-bottom: 0.75rem;
              }
            }
          }
        }
      }

      .sample-container {
        width: 100%;
        padding: 0;
        @media screen and (min-width: 768px) {
          max-width: 768px !important;
        }
        @media screen and (min-width: 1024px) {
          max-width: 840px !important;
          padding: 0 0 3.75rem;
          outline: none;
        }

        .doc-gen-date-stamp {
          position: relative;
          margin: 0 !important;
          padding: 0 !important;

          .doc-gen-last-update {
            max-width: 100%;
            margin: 0 auto;
            position: relative;
            padding-top: 1.8125rem;

            select {
              border: 0;
            }

            .ddl-control {
              position: absolute;
              right: 30px;
              top: 1px;

              p {
                text-align: left !important;
                padding: 0;
                margin: 0;
                font-size: 0.75rem;
                display: inline-block;
              }

              .chev-arrow-down {
                width: 1rem;
                height: 1rem;
                background-image: url("../svg/smock_chevronright_18_n.svg");
                margin-left: 0.5rem;
                text-decoration: none !important;
                position: absolute;
                bottom: 0;
                transform: rotate(90deg);
              }
            }
          }
        }

        .sample-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
          @media screen and (min-width: 768px) {
            margin-top: 1.8125rem;
            grid-template-columns: 1fr 1fr 1fr;
          }
          @media screen and (min-width: 1024px) {
            margin-top: 2.4375rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }

          .sample-item {
            .sample-icon {
              max-width: 8.75rem;
              max-height: 12.125rem;
              height: 100% !important;
              margin: 0 auto;

              img {
                position: relative;
                top: unset;
                left: unset;
                transform: unset;
                border-radius: 0.375rem;
                border: 1px solid #B3B3B3;
              }
            }
          }
        }
      }
    }
  }
}
