
section.platform {
    width:100%;
    margin:0px !important;
    padding:0px !important;
    
    .slick-track {
        padding: 0 !important;
    }

    .slick-dots li button:before {
        font-size: 9px !important;
        margin-top:2.8rem;
    }
    
    .slick-dots li.slick-active button:before {
        color: #1473E6 !important;
        }
    
    .slick-dots {
        bottom: 0.25rem !important;
    
        li {
        margin: 0 -2px !important;
        }
    }

    &.slick-dotted.slick-slider {
        margin-bottom: 0;
        @media screen and (min-width: 768px) {
          margin-bottom: 1.5rem;
        }
        @media screen and (min-width: 1024px) {
          margin-bottom: 4.5rem;
        }
      }

    /* Market Place */
  section.market-place {
    margin:0px !important;
    padding-bottom: 0.75rem;
    background: #1B5496 url('../img/mp_aws_bkg@2x.png');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;     

    &.ms-blade{
        background: #000 url('../img/ms_power_bkg.png');
        background-repeat:no-repeat;
        background-position:center center;
        background-size:cover;    
    }

    .market-place-container{
        padding-top:4.1875rem;
        margin: 0 auto;

        .market-place-wrapper{
            max-height:331px;
            
            color: $white;

                .market-place-logo-wrapper{
                    font-size:3.25rem;
                    display:flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items: center;

                    @media screen and (min-width: 768px) {
                        flex-direction:row;
                        align-content: center; 
                    }
                
                    margin-bottom:2.5rem;

                    .mp-adobe-logo{
                        width:186px;
                        height:56px;

                        img{
                            width:100%;
                            vertical-align: top;
                        }
                    }

                    .mp-plus{
                        font-size:2.75rem;                    
                        padding-left:50px;
                        padding-right:45px;
                        margin-top: -10px;

                        @media screen and (min-width: 768px) {
                            font-size:3.25rem; 
                        }
                    }

                    .mp-logo{
                        width:287px;
                        height:35px;
                        //margin-top:-25px;

                        &.ms-power-logo{
                            width:243px !important;
                            height:52px !important;                        
                            padding-left:6px; 
                            @media screen and (min-width: 767px) {
                                margin-top:5px;
                            }
                        }
                        
                        img{
                            width:100%;
                        }
                        @media screen and (min-width: 768px) {
                            width:377px;
                            height:46px;
                        }

                    }
                }
    
                .mp-copy-wrapper{
                    margin:0 auto;
                    width:284px;

                    @media screen and (min-width: 768px) {
                        width:100%;
                    }
                    
                    h4 {
                        font-size:1.1875rem;
                        color: $white;
                        font-family: 'Adobe Clean Black';
                        font-weight: 900;
                        text-align: center;
                        text-transform:none !important;

                        @media screen and (min-width: 768px) {
                            
                            font-size:1.375rem;
                            padding:0;
                            margin-bottom: 0.625rem;
                        }
                    }
                    
                    .mp-copy{
                        margin:0;
                        font-size: 0.9375rem;
                        line-height:1rem;
                        font-family: adobe-clean-ux,adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,'Adobe Clean',sans-serif;;
                        text-align: center;

                        @media screen and (min-width: 768px) {
                            font-size: 1.125rem;
                        }
                    }

                    .mp-cta-wrapper{
                        margin-top: 1.875rem; 
                        margin-bottom:1.875rem;

                        @media screen and (min-width: 767px) {
                            font-size: 1.125rem;
                            margin-bottom:3.125rem;
                        }


                        @media screen and (min-width: 1440px) {
                            font-size: 1.125rem;
                            margin-bottom:3.25rem;
                        }

                        text-align:center;
                        .button-link{
                            text-decoration-style: solid !important;
                            color:$white !important;
                            font-weight: normal !important;
                            width:100px !important;
                            &:hover{
                                text-decoration:none !important;
                            }
                        }
                    
                    }                
                }
            }
        }
        
    }
}