.sub-nav-menu-wrapper {
  width: 100%;
  height: 80px;
  background-color: #f8f8f8;
  display: flex;
  position: relative;

  .main-nav-hamburger {
    &,
    &.sub-nav-trigger {
      height: 80px;
      cursor: pointer;
      background-color: transparent;
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
  }

  .sub-nav-trigger {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
    background-color: transparent;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  &.opened {
    height: auto;
    display: block;
    border: none;

    button.sub-nav-trigger {
      // border:1px solid goldenrod;
      //display:none;
      height: 80px;
    }

    > .main-nav-items {
      &,
      &.subnav-item {
        @media screen and (min-width: 900px) {
          display: flex;
        }
      }
    }

    > .sub-nav {
      display: block;
      width: 100%;
      @media screen and (min-width: 900px) {
        display: flex;
        width: auto;
      }
    }

    .sub-nav-product-item {
      .sub-nav-product-item-wrapper {
        &.has-sub-nav:after {
          -webkit-transform: rotate(-450deg);
          transform: rotate(-450deg);
          @media screen and (min-width: 979px) {
            content: "";
          }
        }
      }
    }
    @media screen and (min-width: 900px) {
      display: flex;
    }
  }

  .sub-nav-product-item {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    text-transform: uppercase;

    &.active {
      @media screen and (min-width: 768px) {
        background: #E7E7E7;
      }
    }

    .sub-nav-product-item-wrapper {
      color: #000;
      padding: 0 14px;
      display: flex;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      align-items: center;
      text-decoration: none;

      &.has-sub-nav {
        &:after {
          margin: -4px 0 0 10px;
          color: #2d2d2d;
          font: 300 30px/1 adobe-clean,sans-serif;
          -webkit-transform-origin: 50% 60%;
          transform-origin: 50% 60%;
          -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
          transition: -webkit-transform 0.1s ease;
          transition: transform 0.1s ease;
          transition: transform 0.1s ease,-webkit-transform 0.1s ease;
          content: "\203A";
          @media screen and (min-width: 979px) {
            content: "";
          }
        }
        @media screen and (min-width: 979px) {
          content: "";
        }
      }
      @media screen and (min-width: 900px) {
        width: auto;
      }
    }
    @media screen and (min-width: 900px) {
      width: auto;
    }
  }

  .sub-nav-icon {
    height: 25px;
    font-size: 25px;
    line-height: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 15px;
  }

  .sub-nav {
    max-width: 1440px;
    display: none;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    height: inherit;
    margin: 0;
    border: none;

    .mobile-900-home {
      @media screen and (min-width: 900px) {
        display: none;
      }
    }

    .mobile-home {
      @media screen and (min-width: 1440px) {
        display: none;
      }
      /*Ipad pro */
      @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        display: none;
      }
    }

    .sub-nav-menu-item {
      margin: auto 0;
      position: relative;
      height: auto;
      min-height: 55px;

      :before {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 40px;
        border-top: 1px solid #e1e1e1;
        content: "";
        @media screen and (min-width: 979px) {
          border-top: none;
        }
      }

      &:hover {
        background: #E7E7E7;

        .dropdown-content,
        .dropdown:hover {
          @media screen and (min-width: 1024px) {
            display: block;
          }
        }
        .has-sub {
          svg {
            transform: rotate(0deg) !important;
          }
          @media screen and (min-width: 1024px) {
            svg {
              transform: rotate(180deg) !important;
              float: none;
              display: block;
              margin: 0.5rem auto 0 auto;
              width: 8px;
            }
          }
        }
      }

      &.no-hover:hover {
        background-color: transparent;
      }

      &.active {
        @media screen and (min-width: 768px) {
          background: #E7E7E7;
        }
      }
      /*drop down */
      .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }

      .sub-dropdown {
        position: relative;
        display: block !important;
      }

      .dropdown-content {
        display: none;
        position: relative;
        background-color: #ffffff;
        min-width: 160px;
        @media screen and (min-width: 900px) {
          position: absolute;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          z-index: 1;
        }

        &:hover {
          display: block;
        }

        .dropdown-content-wrapper {
          padding-top: 32px;
          padding-bottom: 32px;
          @media screen and (min-width: 1024px) {
            max-width: 400px;
            width: 100%;
          }

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
              width: 100%;
              padding: 9px 32px 8px 64px;
              @media screen and (min-width: 900px) {
                padding: 9px 32px 8px;
              }

              a {
                margin: 0;
                padding: 0;

                .dpd-sub-nav-menu-header {
                  font-size: 14px;
                  font-family: 'Adobe Clean Light';
                  @media screen and (min-width: 900px) {
                    font-family: 'Adobe Clean Bold';
                  }
                  white-space: nowrap;
                }

                .dpd-sub-nav-menu-copy {
                  display: none;
                  font-size: 13px;
                  font-family: 'Adobe Clean Light';
                  white-space: nowrap;
                  @media screen and (min-width: 1024px) {
                    display: block;
                  }
                }
              }

              &:hover {
                background-color: #F5F5F5;

                .dpd-sub-nav-menu-header {
                  color: #2B9AF3;
                }
              }
            }
          }

          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
              background-color: #F5F5F5;

              .dropbtn {
                background-color: #3e8e41;
              }
            }
          }
        }
      }
      /*   dd ends */
      .sub-nav-menu-label {
        height: 35px;
        text-decoration: none;
        outline: none;
        color: #000;
        padding: 20px 50px 0;
        font-weight: 700;
        font-size: 14px;
        align-items: center;
        display: block;
        color: #000;
        @media screen and (min-width: 900px) {
          padding: 29px 14px 16px;
        }

        .sub-nav-get-started-button {
          border-width: 2px;
          border-style: solid;
          border-radius: 16px;
          max-height: 32px;
          height: auto;
          min-width: 72px;
          padding: 3.5px 14px 4.5px;
          font-size: 14px;
          font-weight: 700;
          color: #4b4b4b;

          &:hover {
            color: $white!important;
            background: #6e6e6e;
            border-color: #6e6e6e;
          }
        }

        a {
          &.sub-nav-get-started-button {
            -webkit-appearance: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-decoration: none;
          }
        }

        &.has-sub {
          svg {
            display: none;    //CH Only show on hover (see below)
            @media screen and (max-width: 767px) {
              display: block; //CH Always show on phone
            }
            float: right;
            transform: rotate(180deg);
            position: relative;
            top: 0.25rem;
          }
          @media screen and (min-width: 1024px) {
            svg {
              float: none;
              margin: 0.5rem auto 0 auto;
              width: 8px;
            }
          }
        }
        &.has-sub:hover {
          svg {
            display: block; //CH Show on hover
          }
        }
      }
      @media screen and (min-width: 900px) {
        height: 100%;
      }
    }
    @media screen and (min-width: 900px) {
      display: flex;
    }
  }
  @media screen and (min-width: 900px) {
    justify-content: center;
  }
}
