

    
  .sub-nav-menu-wrapper {
    width: 100%;
    height: 80px;
    background-color: #f8f8f8;
    display: flex;
    position: relative;
    
    .main-nav-hamburger {

      &, &.sub-nav-trigger {
        height: 80px;
        cursor: pointer;
        background-color: transparent;
        @media screen and (min-width: 900px){
          display: none;
        }
      }
    }

    .sub-nav-trigger {
      border:none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0;
      z-index: 10;
      background-color: transparent;
      cursor: pointer;
      background-color: transparent;
      outline:none;

      @media screen and (min-width: 900px){
        display:none;
      }
    }

    
    &.opened {
      height: auto;
      display: block;
      border:none;

      button.sub-nav-trigger{      
       // border:1px solid goldenrod; 
        //display:none; 
        height:80px;        
      }

      >.main-nav-items {
        &, &.subnav-item{
          @media screen and (min-width: 900px){
            display: flex;
         }
        }
      }
      >.sub-nav{

        display: block;
        width: 100%;

        @media screen and (min-width: 900px){
          display: flex;
          width: auto;
        }        
      }
      
      .sub-nav-product-item{
        .sub-nav-product-item-wrapper{
          &.has-sub-nav:after{
              -webkit-transform: rotate(-450deg);
              transform: rotate(-450deg); 
              
              @media screen and (min-width: 979px) {
                content:""; 
              }   

          }
        }
      }

      @media screen and (min-width: 900px){
        display: flex;
      }
    }
    
    .sub-nav-product-item {
      display: flex;
      width: 100%;
      height: 80px;
      justify-content: center;     
      text-transform: uppercase;

      &.allowHover:hover{
       // background: #E7E7E7;
      }

      &.active{
        @media screen and (min-width: 768px){
         background: #E7E7E7;
        }
      }
   

      .sub-nav-product-item-wrapper {
        color: #000;
        padding-right: 18px;

        display: flex;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        align-items: center;
        text-decoration:none;

        &.has-sub-nav{
          &:after{
            margin: -4px 0 0 10px;
            color: #2d2d2d;
            font: 300 30px/1 adobe-clean,sans-serif;
            -webkit-transform-origin: 50% 60%;
            transform-origin: 50% 60%;
            -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
            transition: -webkit-transform .1s ease;
            transition: transform .1s ease;
            transition: transform .1s ease,-webkit-transform .1s ease;
            content: "\203A"; 
            
            @media screen and (min-width: 979px) {
              content:""; 
            }
          }

          @media screen and (min-width: 979px) {
            content:""; 
          }
        }

        @media screen and (min-width: 900px){
          width:auto;
        }
      }

      @media screen and (min-width: 900px){
        width:auto;
      }
    }

    .sub-nav-icon {
      height: 25px;
      font-size: 25px;
      line-height: 1;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 15px;
    }

    .sub-nav {
      max-width: 1440px;
      display: none;
      list-style: none;
      padding-left: 0; 
      justify-content: center;
      height: inherit;
      margin: 0;
      border:none;

      .mobile-home{
        
        @media screen and (min-width: 1440px){
          display: none;
        }
      }      

      .sub-nav-menu-item {
        margin: auto 0;
        position: relative;
        height: 55px;

        :before{
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0 40px;
          border-top: 1px solid #e1e1e1;
          content: ""; 

          @media screen and (min-width: 979px) {
            border-top:none;
          } 
          
        }

        &:hover{
          background: #E7E7E7;
        }

        &.no-hover:hover{          
          background-color: transparent;         
        }
        
        &.active{
          @media screen and (min-width: 768px) {
          background: #E7E7E7;
          }
        }

        .sub-nav-menu-label {
          height: 100%;
          text-decoration: none;
          outline: none;
          color: #000;

          padding: 0 50px;
          font-weight: 400;
          font-size: 14px;
          align-items: center;
          display: flex;
          color: #000;
        
          @media screen and (min-width: 979px) {
            padding: 0 19px;
          }  

          .sub-nav-get-started-button {
            border-width: 2px;
            border-style: solid;
            border-radius: 16px;
            max-height: 32px;
            height: auto;
            min-width: 72px;
            padding: 4px 14px;
            padding-bottom: 4.5px;
            padding-top: 3.5px;
            font-size: 14px;
            font-weight: 700;
            color: #4b4b4b;
            &:hover{
              color:#ffffff!important;
              background:#6e6e6e;
            }
          }
          
          a{
            &.sub-nav-get-started-button {
              -webkit-appearance: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              text-decoration:none;
            }
          }

        }

        @media screen and (min-width: 900px){
          height: 100%;
        }

      }

      @media screen and (min-width: 900px){
       display:flex;
      }

    }

    @media screen and (min-width: 900px){
      justify-content: center;
    }
  }


