@font-face {
  font-family: 'Adobe Clean';
  src: url('../stylesheets/fonts/AdobeClean-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Adobe Clean';
  src: url('../stylesheets/fonts/AdobeClean-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Adobe Clean';
  src: url('../stylesheets/fonts/AdobeClean-ExtraBold.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Adobe Clean';
  src: url('../stylesheets/fonts/AdobeClean-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Clean';
  src: url('../stylesheets/fonts/AdobeClean-BoldIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Clean Serif';
  src: url('../stylesheets/fonts/AdobeCleanSerif-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Adobe Clean Light';
  src: url('../stylesheets/fonts/AdobeClean-Light.otf') format('opentype');
  font-weight: 900;
}
