
//Patallax effects slide 1
.slide1-move1{
    animation: slide1-move1 ease-in-out 0.5s forwards;
    -webkit-animation: slide1-move1  ease-in-out .5s forwards; 
  }
  
  @keyframes slide1-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide1-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide1-move1 {
    // 0% {opacity:0;}
    // 100% {opacity:1;}

    from {left:30px; opacity: 0;}
    to {left:0px; opacity: 1}
  }
  
  .slide1-move2{
    animation: slide1-move2 ease-in-out 0.5s forwards;
    -webkit-animation: slide1-move2  ease-in-out .5s forwards;
  }
  @keyframes slide1-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide1-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide1-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  //Patallax effects slide 2
  .slide2-move1{
    animation: slide2-move1 ease-in-out 0.5s forwards;
    -webkit-animation: slide2-move1  ease-in-out .5s forwards;
  }
  @keyframes slide2-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide2-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide2-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .slide2-move2{
    animation: slide2-move2 ease-in-out 0.5s forwards;
    -webkit-animation: slide2-move2  ease-in-out .5s forwards;
  }
  @keyframes slide2-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide2-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide2-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  //Patallax effects slide 3
  .slide3-move1{
    animation: slide3-move1 ease-in-out 0.5s forwards;
    -webkit-animation: slide3-move1  ease-in-out .5s forwards;
  }
  @keyframes slide3-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide3-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide3-move1 {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  
  .slide3-move2{
    animation: slide3-move2 ease-in-out 0.5s forwards;
    -webkit-animation: slide3-move2  ease-in-out .5s forwards;
  }
  @keyframes slide3-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide3-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide3-move2 {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  
  .slide3-move3{
    animation: slide3-move3 ease-in-out 0.5s forwards;
    -webkit-animation: slide3-move3  ease-in-out .5s forwards;
  }
  
  @keyframes slide3-move3 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes slide3-move3 {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes slide3-move3 {
    0% {opacity:0;}
    100% {opacity:1;}
  }